public
static/js/src

.DS_Store


# Obsidians
.obsidian/*
# Exception   
!.obsidian/plugins
!.obsidian/core-plugins.json
!.obsidian/community-plugins.json
# Plugin Files

# Exclude Untitled Notes
Untitled*
# Exclude "bad" names
null*