

#placeholder-search-box-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#placeholder-search-box {
  width: 95%;

}

.search-box {
  width: 97%;
  max-width: 800px;
  margin: 15px 10px;
  padding: 10px 15px;
  border: 1px solid var(--text-pale-color);
  border-radius: 20px;
  font-size: 16px;
  box-shadow: 0 2px 4px var(--shadow-color-1);
  outline: none;
  transition: box-shadow 0.3s;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.search-box:focus {
  box-shadow: 0 4px 8px var(--shadow-color-2);
  border-color: var(--primary-color);
}

/* Responsive layout for smaller screens */
@media (max-width: 600px) {

  .search-box {
    width: 95%;
  }
}

.search-modal-loading {
  font-size: 0.8rem;
  color: var(--text-pale-color, #666);
  visibility: hidden;
}

.search-modal-loading.show {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  background-color: var(--bg-color); /* White background for the popup */
  border: 1px solid var(--border-color); /* Subtle border */
  box-shadow: 0px 4px 6px  var(--shadow-color-1); /* Modern shadow for depth */
  padding: 20px 30px; /* Add space inside the popup */
  max-width: 300px;;
  border-radius: 8px; /* Rounded corners for a modern look */
  z-index: 100; /* Ensure it appears above other content */
  text-align: center; /* Center-align the text inside the popup */
  visibility: visible;
}
