<!DOCTYPE html>

<html lang="{% block lang %}{% endblock lang %}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  {% block desc %}{% endblock desc %}
  <title>{% block title %}{% endblock title %}</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  {% include "_custom_font.html" %}
  {% include "_custom_css.html" %}
  <!-- Preload CSS for Prevent Layout Shifting -->
  <link rel="preload" rel="stylesheet" href="/preload-main.css" />
  <!-- Load CSS Asynchronously -->
  <link rel="preload" rel="stylesheet" href="/main.css" media="print"
    onload="this.onload=null;this.removeAttribute('media');" fetchpriority="high">
  {% block head %}{% endblock head %}
  {% include "_head_extend.html" %}
  {%- block seo %}
  {%- endblock seo %}
</head>

<body class="{% block page %}{% endblock page%}{% if config.extra.force_theme == " dark" %}dark{% endif %}">
  {% if not config.extra.force_theme %}
  <script>
    const theme = sessionStorage.getItem('theme');
    const match = window.matchMedia("(prefers-color-scheme: dark)").matches
    if ((theme && theme == 'dark') || (!theme && match)) {
      document.body.classList.add('dark');
      const hl = document.querySelector('link#hl');
      if (hl) hl.href = '/hl-dark.css';
    }
  </script>
  {% endif %}
  <div id="search-root"></div>
  <div class="search-modal-loading">Loading Search Modal Component... </div>
  {% block content %}{% endblock content %}
  {% block script %}{% endblock script %}
  <script type="module" crossorigin src="/js/commander.js"></script>
  <link rel="stylesheet" crossorigin href="/js/browser-logger.css">
  <link rel="stylesheet" crossorigin href="/js/search-modal.css">
  <script src="/js/main.js"></script>
</body>

</html>